header#document-header 
    .top-menu
        background-color: $color-brown
        ul
            li
                &:not(:last-child)
                    border-right-color: $color-background
                a
                    color: $color-background
