
header#document-header 
    .top-menu
        background-color: $color-brown
        ul
            li
                &:not(:last-child)
                    border-right-color: $color-background
                a
                    color: $color-background
    .menu
        a,
        span
            &[aria-expanded]::after
                display: inline-block
        .nav-level-1
            .dropdown-menu
                &::after
                    transform: rotate(3deg)
        .nav-level-2
            > li
                > span,
                > a
                    @include h4
footer#document-footer
    .footer-iut
        flex: 1
        display: block !important
    .footer-logo
        flex: 1
        width: 100%
        display: flex
        gap: var(--grid-gutter)
        justify-content: space-between
        padding-right: 0 !important
        a
            display: block
            &:after
                display: none
            img
                display: inline-block
            &:last-child
                text-align: right
    @include media-breakpoint-down(desktop)
        .footer-logo
            flex-wrap: wrap
            a:first-child
                width: 100%
                img
                    height: auto
            a:nth-child(1n + 2)
                width: columns(6)
                img
                    height: $header-logo-height
    @include media-breakpoint-up(desktop)
        .footer-logo
            a
                width: columns(4)
                &:nth-child(2)
                    text-align: center
                img
                    max-width: 100%
                    height: $header-logo-height-desktop

@include media-breakpoint-up(desktop)
    header.hero
        overflow: hidden
        &::after
            background: var(--color-background)
            content: ""
            height: 10vw
            position: absolute
            left: 50%
            bottom: 0
            transform: rotate(-4deg) translateX(-50%) translateY(50%)
            transform-origin: bottom left
            width: 130%
            z-index: 1
        .content, .essential-container
            position: relative
            z-index: 2
        .content
            .hero-text
                margin-top: 0
                margin-bottom: $spacing-5
        &.hero--with-image
            .content
                .hero-text, > figure
                    width: columns(6) !important
            figure
                figcaption
                    &:before, .credit
                        background: none !important

.hero
    + .breadcrumb-container
        background-color: var(--color-background)

body.programs__section,
body.diplomas__term
    .hero
        .essential-container
            .essential
                --color-text-alt: var(--color-text)
                --border-color: var(--color-text)
                max-width: 100%
        .hero-logos
            margin-top: 0
            .logo
                display: none !important
    @include media-breakpoint-down(desktop)
        .hero
            .content
                display: flex
                flex-direction: column
                .hero-logos
                    margin-bottom: $spacing-3
                    justify-content: center
                > figure
                    order: 3
    @include media-breakpoint-up(desktop)
        .hero
            position: relative
            padding-bottom: $spacing-5
            .hero-text
                margin-bottom: 0
            .content
                flex-wrap: wrap
                row-gap: 0
                figure, .hero-text 
                    width: columns(6)
            .hero-logos
                order: 3
                margin-top: $spacing-4
                width: 100%
                flex-direction: row
                margin-left: auto
                width: columns(4)
                justify-content: end

body.programs__section
    .hero
        .essential-container
            > .container
                padding-left: 0
                padding-right: 0
                width: auto
    @include media-breakpoint-up(desktop)
        .essential-container
            width: columns(6)
            > .container
                flex-direction: column
                width: auto
                gap: var(--grid-gutter)
                .buttons
                    flex-direction: row
                    justify-content: start
                    > *
                        --btn-min-width: 0
                        min-width: 0

body.diplomas__term
    @include media-breakpoint-up(desktop)
        .hero
            .essential-container
                .essential
                    max-width: columns(4)
                    margin-bottom: $spacing-5

.block.block-title
    @include in-page-without-sidebar
        &::after
            content: ''
            display: block
            padding-bottom: $spacing-3
            margin-bottom: pxToRem(35)
            border-bottom: 1px solid $color-brown-4

.block.block-chapter
    @include in-page-without-sidebar
        .chapter
            gap: var(--grid-gutter)
            .text
                width: columns(8)
                .rich-text
                    @include h3
            > figure
                order: -1

.footer-site
    display: none !important

